# Python Programming Compilation

In [ ]:
# My First Program
print('Hello, World.')

In [ ]:
# My second program
print('Good, morning!')
print('Vietnam!')
print('Good morning,', 'Vietnam!')

In [ ]:
# My third program
print('Mitchell Ashton') 
print('')
print('37 Ruscoe Avenue, Sandbach Cheshire, CW11 3HG! \n')
print('01270 761525')

In [ ]:
# Concatenation
print('work' 
      + 'ing ' 
      + 'with ' 
      + 'concat' 
      + 'enation.' 
      + '...')

In [ ]:
# Variables, Escape Character, Slicing
variables = ('this string is a variable')
print(variables, 'variables go in brackets after print')
print('don\'t forget the commas between variables and strings in the print function')
print('or the opening and closing commas, and remember the escape character \\')

animal = 'rat'
vegetable ='carrot'
mineral = 'quartz'
celebrity = 'mozart'

print (animal[1], ' ', vegetable[0], vegetable[1], vegetable[2], vegetable[3], vegetable[4], vegetable[5],)
print('strings need commas, there is automatic spacing between printing variables, avoid this with concatenation, no space or comma')
print (animal[1], 
       vegetable[0] 
       + vegetable[1] 
       + vegetable[2]
       + vegetable[3] 
       + vegetable[4]
       + vegetable[5])

print()
print()

phrase = 'a whole lot of laughs'
segment = phrase[8:]
print(segment)
print('printing the segment of a string is done with [x:x], where x is the index position, 0 is first, defaults are start and end of string')

In [ ]:
# Fiat Currency Exchanger Concept
euro = float(input('Would you like to type some number? '))

sterling = float(euro*.5)
dollar = float(euro*2)

print('Euro: ', euro)
print('Sterling: ', sterling)
print('Dollar:', dollar)

In [ ]:
# Importing Modules, Area of a Square
import math
length = float(input('Length is what? '))

square_area = length * length

print (square_area)

In [ ]:
# Tiered Tax Calculator Concept
value = float(input('ammount to tax: '))

seventy = (value / 100 * 70)
thirty = (value / 100 * 30)
lowrate = (seventy / 100 * 5)
highrate = (thirty /100 * 5)

total = (highrate + lowrate) 

net = (value - total)

print(net)

In [1]:
# Cash Machine Concept
euro = float(input('cash '))

if euro > 100 and euro != 101:
    print('That is bigger than 100')
elif euro == 101: 
    print('That number is 101')
elif euro >= 100 and euro != 101: 
    print('That is not bigger than 100')

cash 15

In [2]:
# Modulus Division, Largest Odd Number
num1 = int(input('First: '))
num2 = int(input('Second: '))
num3 = int(input('Third: '))

numa = num1 % 2
numb = num2 % 2
numc = num3 % 2
odd = 0 

if numa != 0 and num1 > odd:
    odd = num1
if numb != 0 and num2 > odd:
    odd = num2
if numc != 0 and num3 > odd:
    odd = num3
    
print('Biggest odd is: ')
print(odd)

First: 11
Second: 13
Third: 15
biggest odd is:
15

In [11]:
# While Loop, First 50 Cubes, First 100 Triangular Numbers
number = 1
count = 1
while number < 49:
    print(count, 'cubed is: ', number * number * number)
    number, count = number + 1, count + 1

total = 0 
count = 1 
while count < 100:
    print(count, total)
    total = total + count
    count = count + 1

1 cubed is:  1
2 cubed is:  8
3 cubed is:  27
4 cubed is:  64
5 cubed is:  125
6 cubed is:  216
7 cubed is:  343
8 cubed is:  512
9 cubed is:  729
10 cubed is:  1000
11 cubed is:  1331
12 cubed is:  1728
13 cubed is:  2197
14 cubed is:  2744
15 cubed is:  3375
16 cubed is:  4096
17 cubed is:  4913
18 cubed is:  5832
19 cubed is:  6859
20 cubed is:  8000
21 cubed is:  9261
22 cubed is:  10648
23 cubed is:  12167
24 cubed is:  13824
25 cubed is:  15625
26 cubed is:  17576
27 cubed is:  19683
28 cubed is:  21952
29 cubed is:  24389
30 cubed is:  27000
31 cubed is:  29791
32 cubed is:  32768
33 cubed is:  35937
34 cubed is:  39304
35 cubed is:  42875
36 cubed is:  46656
37 cubed is:  50653
38 cubed is:  54872
39 cubed is:  59319
40 cubed is:  64000
41 cubed is:  68921
42 cubed is:  74088
43 cubed is:  79507
44 cubed is:  85184
45 cubed is:  91125
46 cubed is:  97336
47 cubed is:  103823
48 cubed is:  110592
1 0
2 1
3 3
4 6
5 10
6 15
7 21
8 28
9 36
10 45
11 55
12 66
13 78
14 91
15 105
16 120
17 136
18 153
19 171
20 190
21 210
22 231
23 253
24 276
25 300
26 325
27 351
28 378
29 406
30 435
31 465
32 496
33 528
34 561
35 595
36 630
37 666
38 703
39 741
40 780
41 820
42 861
43 903
44 946
45 990
46 1035
47 1081
48 1128
49 1176
50 1225
51 1275
52 1326
53 1378
54 1431
55 1485
56 1540
57 1596
58 1653
59 1711
60 1770
61 1830
62 1891
63 1953
64 2016
65 2080
66 2145
67 2211
68 2278
69 2346
70 2415
71 2485
72 2556
73 2628
74 2701
75 2775
76 2850
77 2926
78 3003
79 3081
80 3160
81 3240
82 3321
83 3403
84 3486
85 3570
86 3655
87 3741
88 3828
89 3916
90 4005
91 4095
92 4186
93 4278
94 4371
95 4465
96 4560
97 4656
98 4753
99 4851

In [ ]:
a